body {
  height: 100%;
}
body {
  text-align: center;
  background-image: url("../images/backgroundjpg.jpg");
}
#main-div {
  width: 960px;
  position: relative;
  background-color: #fff17a;
  /* background: transparent; */
}
#sub-wrapper {
  width: 960px;
}
button {
  display: block;
  width: 150px;
  height: 100px;
  margin: 10px auto 0;
  font-size: 24px;
}
#start {
  margin-top: 10%;
  background: pink;
  border: 2px solid blue;
}
#quiz-area h2 {
  margin-top: 50px;
}
button:hover {
  background: lightblue;
  border: 2px solid gray;
}